#!/bin/bash

DARTDIR=<DARTDIR>
WORKDIR=<WORKDIR>
SCRATCHDIR=<SCRATCHDIR>

MYDIR=$(pwd)

cd ${DARTDIR}/models/ROMS/work/

./quickbuild.csh -mpi

mkdir -p ${WORKDIR}/dart_exe/
mkdir -p ${SCRATCHDIR}/Exe/
cp roms_to_dart filter dart_to_roms ${WORKDIR}/dart_exe/
cp roms_to_dart filter dart_to_roms ${SCRATCHDIR}/Exe/

cd ${MYDIR}

